doctype html
html(ng-app="MEANcraftApp")
  head
    title MEANcraft
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="components/css/custom.css")
    //link(rel="stylesheet" href="components/skeleton/skeleton.css")
    //link(rel="stylesheet" href="components/skeleton/normalize.css")  
    <!--########################## ANGULAR CORE ###########################-->
    script(defer src="bower_components/angular/angular.js")
    script(defer src="bower_components/angular-route/angular-route.min.js")
    <!--###################################################################-->
    
    <!--########################## APP MODULES ############################-->
    script(defer src="app/app.js")
    script(defer src="app/login/login.js")
    script(defer src="app/overview/overview.js")
    <!--################################################################## -->
    
    <!--######################## APP COMPONENTS ###########################-->
    script(defer src="components/auth/auth.factory.js")
    script(defer src="components/socket/socket.factory.js")
    script(defer src="components/api/executable.factory.js")
    <!--################################################################## -->
    
    <!--########################## APP FILTERS ###########################-->
    script(defer src="app/overview/overview.filter.js")
    <!--###################################################################-->
    
    <!--######################## APP CONTROLLERS ##########################-->
    script(defer src="app/login/login.controller.js")
    script(defer src="app/overview/overview.controller.js")
    <!--###################################################################-->
    
    <!--######################### APP FACTORIES ###########################-->
    
    <!--###################################################################-->
    script(defer src="app/overview/overview.factory.js")
    <!--######################### APP DIRECTIVES ##########################-->
    script(defer src="app/overview/overview.directive.js")
    <!--###################################################################-->
    
    <!--######################### ANGULAR EXTRAS ##########################-->
    script(defer src="/socket.io/socket.io.js")
    script(defer src="bower_components/angularjs-scroll-glue/src/scrollglue.js")
    script(defer src="bower_components/angular-socket-io/socket.min.js")
    script(defer src="bower_components/angular-bootstrap/ui-bootstrap.min.js")
    script(defer src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    <!--###################################################################-->
  body(ng-view)