h4 Overview

div(id="controlBox" ng-controller="overviewServerCtrl as server")
  div(class="container" id="chatContainer")
    div(class="row" scroll-glue style="overflow-y: auto; background-color: ghostwhite; min-height: 350px; max-height: 400px;")
      ul(class="eleven columns" style="min-height: 100%;")
        li(ng-repeat="line in server.chat.pool track by $index" class="chat-line") {{line}}
    div(class="row")
      input(type="text" ng-model="server.chat.message" style="width: 98%;" ng-keyup="$event.keyCode == 13 ? server.chat.sendMsg() : null") 
  button(ng-click="server.start()") Start
  button(ng-click="server.stop()") Stop
  select(ng-model="server.selected.map" ng-options="map as (map.uploadDate | date:'dd/MM/yyyy HH:mm:ss') group by map.metadata.name for map in server.mapList track by map._id")
    option(value="") Select a map
  select(ng-model="server.selected.exec" ng-options="exec as (exec.uploadDate | date:'dd/MM/yyyy HH:mm:ss') group by exec.metadata.name for exec in server.execList track by exec._id")
    option(value="") Select an executable
  b Backup schedule
  input(type="checkbox" id="scheduleEnabler" ng-model="server.$schedule" ng-false-value="false" ng-true-value="true")
  label(for="scheduleEnabler") {{server.$schedule}}
  div(id="scheduleConfig" ng-if="server.$schedule")
    input(type="number" min="1" max="60" step="1" ng-model="server.selected.schedule") 
    {{server.selected}}

  pre
    b Status {{server.info.status}}
  pre
    b Map {{server.info.map.metadata.name}}
  pre
    b Exec {{server.info.exec.metadata.name}}
  pre
    b Uptime {{server.info.uptime}}

h5 Upload file
div(id="uploadBox" ng-controller="uploadServerCtrl as upload")
  span(id="uploadArea")
    label(for="execFile") Choose an executable:
      input(fileRead="upload.exec" type="file" id="execFile")
    label(for="execName") Name:
      input(type="text" id="execName" ng-model="upload.exec.metadata.name")
      {{upload.exec.offset/1000000 | number:0}} MB / {{upload.exec.data.size/1000000 | number:0}} MB ({{100*upload.exec.offset/upload.exec.data.size | number:0}} %)
    //button(type="button" ng-click="upload.start(upload.file, 'exec')" id="uploadButton") Upload

    label(for="mapFile") Choose a map:
      input(fileRead="upload.map" type="file" id="mapFile")
    label(for="mapName") Name:
      input(type="text" id="mapName" ng-model="upload.map.metadata.name")
      {{upload.map.offset/1000000 | number:0}} MB / {{upload.map.data.size/1000000 | number:0}} MB ({{100*upload.map.offset/upload.map.data.size | number:0}} %)
    //button(type="button" ng-click="upload.start(upload.file, 'exec')" id="uploadButton") Upload
  button(type="button" ng-click="upload.start()") Upload

  h5 Chunk size selector:
  select(ng-model="upload.chunkSize")
    option(value="4") 4 bytes
    option(value="8") 8 bytes
    option(value="16") 16 bytes
    option(value="32") 32 bytes
    option(value="64") 64 bytes
    option(value="1024") 1024 bytes
    option(value="5024") 5024 bytes
    option(value="9024") 9024 bytes
    option(value="500000") 500 KB
    option(value="1000000") 1 MB
    option(selected value="2000000") 2 MB
    option(value="5000000") 5 MB
    option(value="20000000") 20 MB

//ul
//  li(ng-repeat="map in data.maps") {{map.metadata}}
button(ng-click="doPing()") Calculate ping     
{{' ' + ping.value + ' ms'}}
{{'(' + ping.status + ')'}}

h5 Upload progress {{offset/1000000 | number:0}} MB /{{file.size/1000000 | number:0}} MB ({{100*offset/file.size | number:0}} %)