h4 Overview
//button(ng-click="create()") Create!!
//button(ng-click="drop()") Drop It!!
//input(type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)")
//div(class="container")
//  div(class="ten columns") ten
//    div asdsadsadasdasdsadsadasdasdsadsadasdasdsadsadasdasdsadsadasd
//
//  div(class="two columns") two

div(id="controlBox" ng-controller="overviewServerCtrl as server")
  button(ng-click="server.start()") Start
  button(ng-click="server.stop()") Stop
  select(ng-model="server.map.selected" ng-options="map as map.metadata.name for map in server.map.list track by map._id")
    option(value="") Select a map
  select(ng-model="server.exec.selected" ng-options="exec as exec.metadata.name for exec in server.exec.list track by exec._id")
    option(value="") Select an executable

h5 Upload file
div(id="uploadBox" ng-controller="uploadServerCtrl as upload")
  span(id="uploadArea")
    label(for="fileBox") Choose a file:
      input(fileRead type="file" id="fileBox")
    label(for="nameBox") Name:
      input(type="text" id="nameBox" ng-model="upload.file.metadata.name")
    button(type="button" ng-click="upload.start(upload.file, 'exec')" id="uploadButton") Upload

  h5 Chunk size selector:
  select(ng-model="upload.chunkSize")
    option(value="4") 4 bytes
    option(value="8") 8 bytes
    option(value="16") 16 bytes
    option(value="32") 32 bytes
    option(value="64") 64 bytes
    option(value="1024") 1024 bytes
    option(value="5024") 5024 bytes
    option(value="9024") 9024 bytes
    option(value="500000") 500 KB
    option(value="1000000") 1 MB
    option(selected value="2000000") 2 MB
    option(value="5000000") 5 MB
    option(value="20000000") 20 MB

//ul
//  li(ng-repeat="map in data.maps") {{map.metadata}}
button(ng-click="doPing()") Calculate ping     
{{' ' + ping.value + ' ms'}}
{{'(' + ping.status + ')'}}
h5 Upload progress {{offset/1000000 | number:0}} MB /{{file.size/1000000 | number:0}} MB ({{100*offset/file.size | number:0}} %)